spring:
  datasource:
    url: jdbc:mysql://localhost:3306/work_calendar?serverTimezone=Asia/Seoul&characterEncoding=UTF-8
    username: root
    password: 0809
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

server:
  port: 8080
